# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
cookies.txt

# Downloads & Temp files
downloads/*
!downloads/.gitkeep
*.json

# Executables
ffmpeg.exe
ffprobe.exe

# OS files
.DS_Store
Thumbs.db